<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-audio-interruption"
        version="0.1.1">

    <name>AudioInterruption</name>
    <description>AudioInterruption plugin</description>
    <license>Apache 2.0</license>
    <keywords>AudioInterruption</keywords>
    <repo>https://github.com/WinGood/cordova-plugin-call-interruption.git</repo>
    <issue>https://github.com/WinGood/cordova-plugin-call-interruption/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/AudioInterruption.js" target="js/AudioInterruption.js"/>

    <js-module src="www/AudioInterruption.js" name="AudioInterruption">
        <clobbers target="AudioInterruption" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AudioInterruption">
                <param name="android-package" value="com.wingood.cordova.audiointerruption.AudioInterruption"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.wingood.cordova.audiointerruption.CallInterruption" android:exported="true">
                <intent-filter android:priority="999">
                    <action android:name="android.intent.action.PHONE_STATE" />
                </intent-filter>
                <intent-filter android:priority="999">
                    <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                </intent-filter>
            </receiver>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
        </config-file>

        <source-file src="src/android/AudioInterruption.java" target-dir="src/com/wingood/cordova/audiointerruption/"/>
        <source-file src="src/android/CallInterruption.java" target-dir="src/com/wingood/cordova/audiointerruption/"/>
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/widget">
            <feature name="AudioInterruption">
                <param name="ios-package" value="AudioInterruption" />
            </feature>
        </config-file>

        <header-file src="src/ios/AudioInterruption.h" target-dir="AudioInterruptionPlugin"/>
        <source-file src="src/ios/AudioInterruption.m" target-dir="AudioInterruptionPlugin"/>
    </platform>

</plugin>
